<div class="container">
<h1 class="display-4 my-4 text-center">Company Details</h1>
  <div class="card mb-4">
    <div class="card-body">
      <h4 class="card-title">Company Name: <%= @company.email.split('@')[0] %></h4>
      <h5 class="card-subtitle mb-3">Users of <%= @company.email.split('@')[0] %> are listed below:</h5>
      

    </div>
  </div>
</div>